<div class="modal-header">
  <!-- <div class="modal-title" id="modal-basic-title">{{ titulo }}</div> -->
  <button type="button" class="close" aria-label="Close" (click)="cancelar()">
    <i class="far fa-times-circle"></i>
  </button>
</div>
<div class="modal-body p-0">
  <div class="chat">
    <div class="chat-container">
      <div id="call" class="user-bar">
        <div class="back">
          <i class="zmdi zmdi-arrow-left"></i>
        </div>
        <div class="avatar">
          <img src="https://www.codewithfaraz.com/InstaPic.png" alt="Avatar">
        </div>
        <div class="name">
          <span id="name"></span>
          <span class="status"></span>
        </div>
        <div class="actions more">
          <i class="zmdi zmdi-more-vert"></i>
        </div>
        <div class="actions attachment">
          <i class="zmdi zmdi-attachment-alt"></i>
        </div>
        <div class="actions">
          <i class="zmdi zmdi-phone"></i>
        </div>
      </div>
      <div class="conversation">
        <div class="conversation-container">
          <span id="ap">
          </span>
        </div>
        <form id="form" class="conversation-compose">
          <div class="emoji">

          </div>
          <input id="val" class="input-msg" name="input" placeholder="Type a message" autocomplete="off" autofocus>
          <div class="photo">
            <i class="zmdi zmdi-camera"></i>
          </div>
          <span id="speak"></span>
          <span class="send">
            <div class="circle">
              <i id="msend" class="zmdi zmdi-mail-send"></i>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="send" width='24' height='24'>
                <path fill="none" d="M0 0h24v24H0V0z"></path>
                <path
                  d="M3.4 20.4l17.45-7.48c.81-.35.81-1.49 0-1.84L3.4 3.6c-.66-.29-1.39.2-1.39.91L2 9.12c0 .5.37.93.87.99L17 12 2.87 13.88c-.5.07-.87.5-.87 1l.01 4.61c0 .71.73 1.2 1.39.91z"
                  fill="#ffffff" class="color000000 svgShape" ></path>
              </svg>
            </div>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>