<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-nav-tabs-config [itemSelected]="itemSelected"></app-nav-tabs-config>
  <div class="tab-content" id="nav-tabContent">

    <!-- TAB GERAL -->
    <div class="tab-pane fade show active" id="nav-geral">
      <form [formGroup]="formGeral">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" placeholder="Enter component name" formControlName="name" id="name">
          <!-- <small id="emailHelp" class="form-text text-muted">component name</small> -->

          <label for="nameOut">Name out</label>
          <input type="text" class="form-control" placeholder="Enter component output name" formControlName="nameOut"
            id="nameOut">
        </div>
      </form>

      <ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="collapse" href="#inputs" role="tab" aria-expanded="false">
            Input
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" role="tabpanel">
          <div class="collapse" id="inputs">
            <button type="button" class="btn btn-primary" (click)="addInput()"><i class="fa fa-plus"
                aria-hidden="true"></i>
              input</button>
            <div class="card card-body" id="inputList">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END TAB GERAL -->

    <!-- TAB PARA CADA COMPONENT -->
    <ng-container *ngFor="let component of components | keyvalue">
      <div class="tab-pane fade"
        *ngIf="itemSelected.class === component.value && component.value !== components.StartFlow"
        [attr.id]="component.key">

        <!-- TAB PARA Filter -->
        <ng-container *ngIf="components.Filter === component.value">
          <div class="form-group">
            <label>Filter Expression:</label>
            <textarea class="form-control" rows="1"></textarea>
            <small class="form-text text-muted"><a href="https://jmespath.org/proposals/filter-expressions.html"
                target="_blank">JMESPath Expressions</a></small>
          </div>
        </ng-container>
        <!-- END TAB PARA Filter -->

        <!-- TAB PARA SendMessage -->
        <ng-container *ngIf="components.SendMessage === component.value">
          <div class="form-group">
            <form [formGroup]="formGeral">
              <label>Template:</label>
              <textarea class="form-control" rows="3" formControlName="data" id="data"></textarea>
              <small class="form-text text-muted">{{ 'example: {"html": "Your text...", "acoes":[]}' }}</small>
            </form>
          </div>
        </ng-container>
        <!-- END TAB PARA SendMessage -->

        <!-- TAB PARA CallApi -->
        <ng-container *ngIf="components.CallApi === component.value">
         <app-tab-call-api [itemSelected]="itemSelected"></app-tab-call-api>
        </ng-container>
        <!-- END TAB PARA CallApi -->

      </div>
    </ng-container>
    <!-- END TAB PARA CADA COMPONENT -->
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="confirmar()">Salvar</button>
</div>