<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-nav-configs-modal></app-nav-configs-modal>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-geral">
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" placeholder="Enter component name">
          <!-- <small id="emailHelp" class="form-text text-muted">component name</small> -->
        </div>
        <div class="form-group">
          <label for="nameOut">Name out</label>
          <input type="text" class="form-control" placeholder="Enter component output name">
        </div>
      </form>

      <ul class="nav nav-tabs justify-content-end pt-2 mb-1" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="collapse" href="#inputs" role="tab" aria-expanded="false">
            Input
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" role="tabpanel">
          <div class="collapse" id="inputs">
            <button type="button" class="btn btn-primary" (click)="addInput()"><i class="fa fa-plus" aria-hidden="true"></i>
              input</button>
            <div class="card card-body" id="inputList">
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="nav-profile">
      outra 1
    </div>
    <div class="tab-pane fade" id="nav-contact">
      outra 2
    </div>
  </div>

</div>
<div class="modal-footer">
  <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()">Fechar</button> -->
  <button type="button" class="btn btn-primary" (click)="confirmar()">Salvar</button>
</div>